.frame.frame-type-pgae_fancycard .fancycard__header {
    position: relative;
    background-color: #F3F4F6;
    margin-top: 64px;
    text-align: center;
    padding: 72px 80px 16px;
}

.frame.frame-type-pgae_fancycard .fancycard__header h2,
.frame.frame-type-pgae_fancycard .fancycard__header h3 {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0;
}

.frame.frame-type-pgae_fancycard .fancycard__header h2 span,
.frame.frame-type-pgae_fancycard .fancycard__header h3 span {
    color: #000;
    padding: 0;
}

.frame.frame-type-pgae_fancycard .modal-dialog {
    width: 60%;
    max-width: 1024px;
}

.frame.frame-type-pgae_fancycard .modal-header {
    margin-top: 72px;
}

.frame.frame-type-pgae_fancycard .modal-header .frame-header {
    margin-left: 1rem;
    width: 100%;
}

.frame.frame-type-pgae_fancycard .fancycard__header .element-header,
.frame.frame-type-pgae_fancycard .fancycard__header .element-subheader {
    font-size: 1.25rem;
}

.frame.frame-type-pgae_fancycard .fancycard__header .img-wrap {
    position: absolute;
    border-radius: 100%;

    top: -64px;
    left: 50%;
    transform: translate(-50%, 0);
}

.frame.frame-type-pgae_fancycard .fancycard__header picture img {
    width: 128px;
    height: auto;
    padding: 15px;
}

.frame.frame-type-pgae_fancycard .fancycard__header .btn-toggle {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.frame.frame-type-pgae_fancycard .fancycard__header .btn-toggle svg {
    width: 48px;
    height: 48px;
}

.frame.frame-type-pgae_fancycard .fancycard__body {
    padding: 16px;
}

.frame.frame-type-pgae_fancycard .fancycard__body.hidden {
    display: none;
}

.frame.frame-type-pgae_fancycard img {
    max-width: 100%;
    height: auto;
}

.frame.frame-type-pgae_fancycard .modal-body.fancycard__body,
.frame.frame-type-pgae_fancycard .fancycard__body-item {
    padding: 8px;
}

.frame.frame-type-pgae_fancycard .fancycard__body-item {
    overflow: hidden;
    word-wrap: break-word;
}

@media (max-width: 992px) {
    .frame.frame-type-pgae_fancycard .modal {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .frame.frame-type-pgae_fancycard .fancycard__header {
        cursor: pointer;
    }

    .frame.frame-type-pgae_fancycard .fancycard__header .btn-toggle {
        display: none;
    }

    .frame.frame-type-pgae_fancycard .fancycard__body-content {
        display: flex;
        flex-wrap: wrap;
    }

    .frame.frame-type-pgae_fancycard .fancycard__body-content.columns-1 .fancycard__body-item {
        width: calc(100% / 1);
    }

    .frame.frame-type-pgae_fancycard .fancycard__body-content.columns-2 .fancycard__body-item {
        width: calc(100% / 2);
    }

    .frame.frame-type-pgae_fancycard .fancycard__body-content.columns-3 .fancycard__body-item {
        width: calc(100% / 3);
    }
}
