/* General */
.frame.frame-type-pgae_fancycard {
    padding: 0.25rem;
}

.frame.frame-type-pgae_fancycard .fancycard__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0 40%);
}

.frame.frame-type-pgae_fancycard .img-wrap {
    overflow: hidden;
    max-width: 250px;
    max-height: 250px;
    width: 80%;
}

.frame.frame-type-pgae_fancycard .fancycard__header:hover picture img {
    transform: scale(1.08);
}

.frame.frame-type-pgae_fancycard .img-wrap picture {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.frame.frame-type-pgae_fancycard .img-wrap picture img {
    transition: all .3s;
    width: 100%;
    max-width: 100%;
}

.frame.frame-type-pgae_fancycard .frame-header {
    padding: 0.5rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame.frame-type-pgae_fancycard .modal-header .frame-header {
    height: auto;
}

.frame.frame-type-pgae_fancycard .element-header,
.frame.frame-type-pgae_fancycard .element-subheader {
    margin: 0;
    padding: 0;
}

.frame.frame-type-pgae_fancycard .element-header span,
.frame.frame-type-pgae_fancycard .element-subheader span {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 300;
    color: rgb(0,0,0)
}

.frame.frame-type-pgae_fancycard .fancycard__header button.btn-toggle,
.frame.frame-type-pgae_fancycard .fancycard__header button.close {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* Modal */
.frame.frame-type-pgae_fancycard .modal-dialog {
    width: 60%;
    max-width: 1024px;
}

.frame.frame-type-pgae_fancycard .modal-content {
    padding: 0.5rem 0;
}

.frame.frame-type-pgae_fancycard .modal-header.fancycard__header,
.frame.frame-type-pgae_fancycard .modal-body.fancycard__body {
    padding: 0;
}

.frame.frame-type-pgae_fancycard .fancycard__body-item {
    padding: 8px 32px 8px 16px;
}

@media (max-width: 768px) {
    .frame.frame-type-pgae_fancycard .modal {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .frame.frame-type-pgae_fancycard .fancycard__header {
        cursor: pointer;
    }

    .frame.frame-type-pgae_fancycard .fancycard__header .btn-toggle {
        display: none;
    }

    .frame.frame-type-pgae_fancycard .fancycard__body-content {
        display: flex;
        flex-wrap: wrap;
    }

    .frame.frame-type-pgae_fancycard .fancycard__body-content.columns-1 .fancycard__body-item {
        width: calc(100% / 1);
    }

    .frame.frame-type-pgae_fancycard .fancycard__body-content.columns-2 .fancycard__body-item {
        width: calc(100% / 2);
    }

    .frame.frame-type-pgae_fancycard .fancycard__body-content.columns-3 .fancycard__body-item {
        width: calc(100% / 3);
    }
}
