<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers">
<f:layout name="Fancycard"/>
<f:section name="Main">

    <div class="fancycard__body-content columns-{data.pi_flexform.columns}">
        <f:if condition="{records}">
            <f:for each="{records}" as="item" iteration="iteration">
                <div class="fancycard__body-item item-{iteration.index}">
                    <f:render partial="Item/{item.data.item_type -> bk2k:format.upperCamelCase()}" arguments="{_all}" />
                </div>
            </f:for>
        </f:if>
    </div>

</f:section>
</html>
